{% extends "base.html" %}
{% block content %}


<div class="col-sm-10">
    <h3 class = "text-white my-5">About</h3>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. In quia explicabo earum architecto placeat iusto aspernatur quasi atque expedita dignissimos?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores doloribus consequatur et, sapiente, nam perspiciatis eligendi id aliquid at similique harum voluptatum ipsam accusantium? Animi asperiores dolore molestias debitis, dignissimos fuga minus vero laboriosam distinctio! Dolore fuga distinctio illo deserunt, unde itaque incidunt, facilis iure doloribus corporis eligendi nemo quam!
    </p>

</div>

{% endblock content %}
